apiVersion: v1
kind: Secret
metadata:
  name: backstage-secrets
  labels:
    {{- include "backstage.labels" . | nindent 4 }}
type: Opaque
data:
  backend-secret: {{ .Values.backstage.secrets.backendSecret | b64enc | quote }}
  github-client-id: {{ .Values.backstage.secrets.githubClientId | b64enc | quote }}
  github-client-secret: {{ .Values.backstage.secrets.githubClientSecret | b64enc | quote }}
  github-token: {{ .Values.backstage.secrets.githubToken | b64enc | quote }}
---
{{- if not .Values.postgresql.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: backstage-postgres
  labels:
    {{- include "backstage.labels" . | nindent 4 }}
type: Opaque
data:
  password: {{ .Values.externalPostgresql.password | b64enc | quote }}
{{- end }}